#subscription {
    display: none;
}

body {
    font-family: 'Roboto Slab';
    font-size: 1.3rem;
    font-weight: 500;

}



.activity {
    display: flex;
    padding-top: 15px;
    
}

#game1 {
    padding-left: 30px;
    padding-right: 30px;
}

.guessField {
  height: 115px;
}
